
# @strapi-community/dockerize variables 

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=personal_site_strapi
DATABASE_USERNAME=dtrechas
DATABASE_PASSWORD=
NODE_ENV=development
DATABASE_CLIENT=postgres
APP_KEYS="asdwqeqwe123q,asdasdasdas"
API_TOKEN_SALT="asdassad123123sdsa"
ADMIN_JWT_SECRET="asdwqegfsdasd"
JWT_SECRET="asdaswqeqwaswcvcxv"