name: Build Docker image

on:
  push:
    branches: ["main"]

jobs:
  build-and-push-dockerfile-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/arm64
          tags: ghcr.io/${{ github.repository_owner }}/personal-site-strapi:latest
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/personal-site-strapi:buildcache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/personal-site-strapi:buildcache,mode=max

      - name: Trigger Dokploy Deployment
        run: |
          curl -X POST ${{ secrets.DOKPLOY_WEBHOOK_URL }}
